.container {
	width: 978px;
	margin: 0 auto;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
	float: left;
	margin-left: 30px;
}
.grid1 {
	width: 54px;
}
.grid2 {
	width: 138px;
}
.grid3 {
	width: 222px;
}
.grid4 {
	width: 306px;
}
.grid5 {
	width: 390px;
}
.grid6 {
	width: 474px;
}
.grid7 {
	width: 558px;
}
.grid8 {
	width: 642px;
}
.grid9 {
	width: 726px;
}
.grid10 {
	width: 810px;
}
.grid11 {
	width: 894px;
}
.first {
	margin-left: 0;
	clear: left;
}

.break1 {padding-left:54px;}
.break2 {padding-left:138px;}
.break3 {padding-left:222px;}
.break4 {padding-left:306px;}
.break5 {padding-left:390px;}
.break6 {padding-left:474px;}
.break7 {padding-left:558px;}
.break8 {padding-left:642px;}
.break9 {padding-left:726px;}

.right {float:right;}
.left {margin-left:0; clear:right;}