html,body {
	color : #2e3436;
	font-family : Verdana;
	font-size : 12px;
	background : #ffffff url(images/gradient.png) repeat-x;
	margin : 0px;
	padding : 0px;
}
select,input,button {
	font-family : Verdana;
	font-size : 11px;
}
table,td {
	/*
	font-size : inherit;
	font-family : inherit;
	*/
	font-size : 10px;
	vertical-align: top;
}
table {
	border-collapse : separate;
	border-spacing : 0;
	width : 100%;
}
form {
	padding : 0;
	margin : 0;
	display : inline;
}
img {
	border : 0;
	vertical-align : middle;
}
p {
	text-indent : 1.2em;
	margin : 3px;
}
.container {
	line-height : 1.25em;
	padding: 15px;
}
.top {
	padding : 7px 4px 0px 7px;
}
.header {
	font-size : 14px;
	font-weight : bold;
}
.box {
	border : 1px solid #5f85bf;
	margin : 0 10px 5px 0;
	background : #ffffff;
	/* margin : 5px 15px 5px 0; */
}
.box-content {
	padding : 2px;
}
.box-full {
}
.box-full td, .box-full table {
	font-size : 12px;
}
.box-header {
	font-size : 12px;
	background : #5273ad;
	color : #f3f3f3;
	padding : 2px 2px 3px 2px;
}
.alt1 td {
	padding : 4px;
	background : #ffffff;
}
.alt2 td {
	padding : 4px;
	background : #e1e9f3;
}
.box-float-small {
	font-size : 10px;
	float : left;
	/* width : 275px; */
	width : 225px;
}
.main-box {
	font-size : 12px;
	padding : 3px;
	/* background : #e1e9f3; */
	background: #5273ad;
	color : #ffffff;
}
.main-box span {
	padding-left : 5px;
}
.main-box a:link, .main-box a:visited {
	/* color : #41668a; */
	color : #ffffff;
	text-decoration : underline;
}
.main-box a:hover {
	/* color : #5f85bf; */
	color : #ffffff;
	text-decoration : none;
}
.subheader th {
	background : #a8badb;
	padding : 4px;
	text-align : left;
	font-weight : normal;
	font-size : inherit;
	font-family : inherit;
}
.clear {
	clear : both;
}
.notice {
	border : 1px solid #dcb714;
	background : #fffbe5;
	padding : 4px;
	margin : 6px;
}
a:link, a:visited {
	text-decoration : underline;
	color : #444444;
}
a:hover {
	text-decoration : none;
	color : #444444;
}
.footer {
	text-align : right;
	font-size : 10px;
}
.version {
	float : right;
	position : relative;
	top : 7px;
	font-size : 11px;
}
.subtop {
	font-size : 10px;
	color : #5273ad;
	margin-bottom : 7px;
	margin-left : 16px;
}
.code-box {
	padding : 5px;
	margin : 5px;
	border : 1px solid #666666;
	color : #666666;
}