@import "css/reset.css";
@import "css/grid.css";

body, p {
	line-height:24px;
	font-size:12px;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin:20px 0;
	display:inline-block;
	vertical-align:bottom;
}

header .grid9 {
	font-size:24px;
}
header a {
	text-decoration:none;
	color:#000;
	vertical-align:bottom;
}
header .grid9 a span {
	font-weight:300;
	text-transform:none;
	font-size:.8em;
	color:#aaa;
}
header .grid9 a {
	font-weight:bold;
	text-transform:uppercase;
}

footer {
	text-align:right;
}

.containerblock {
	width: 978px;
	margin: 0 auto;
	display:inline-block;
}

.graph {
	height:200px;
}

table tr td:nth-child(1) {
	width: 24px;
}

/* Two Columns */
table.twocol td:nth-child(2) {
	width:440px;
}