@import "css/reset.css";

body, p {
	line-height:24px;
	font-size:12px;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin:20px 0;
	display:block;
	height:48px;
	clear:both;
}

header {
	font-size:24px;
}
header a {
	text-decoration:none;
	color:#000;
	vertical-align:bottom;
}
header a span {
	font-weight:300;
	text-transform:none;
	font-size:.8em;
	color:#aaa;
}
header a {
	font-weight:bold;
	text-transform:uppercase;
}

footer {
	text-align:right;
}

.containerblock {
	width: 978px; 
	margin: 0 auto;
	display:inline-block;
}

#container {
	margin:0 auto;
}
#mason {
	width:100%;
}

.graph {
	height:200px;
	width:690px;
}

table tr th {
	text-align:left;
	font-weight:bold;
}
table tr td:nth-child(1) {
	width: 30px;
}

#osPlaceholder {
	height:350px;
}

#hover {
	height:24px;
}

.box {
	float:left;
	margin:5px;
}

.col1 {
	width:340px;
}
.col2 {
	width:690px;
}

.col1 table.twocol tr td:nth-child(2) {
	width:305px;
	padding-left:5px;	
}

.col1 table.threecol tr td:nth-child(2), table.threecol tr td:nth-child(3) {
	width:147px;
	padding-left:5px;
}

.col2 table.twocol tr td:nth-child(2) {
	width:655px;
	padding-left:5px;	
}

.col2 table.threecol tr td:nth-child(2), table.threecol tr td:nth-child(3) {
	width:327px;
	padding-left:5px;
}